*{
    margin:0px;
    padding:0px;
}
.container{
    height:825px;
    background-image: url("https://github.com/divyakusuma29/BoxModel_task/blob/main/instagram.jpg?raw=true");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sec1{
    height: 10px;
    width: 20px;
    margin-left: 635px;
    margin-bottom: 280px;
}
form{
    height: 170px;
    width: 270px;
    background-color: beige;
    padding: 10px;
    margin-left: 625px;
}
form>h1{
    margin-bottom: 10px;
    text-align: center;
} 
.label1{
    margin-left: 23px;
}
button{
    padding: 5px 15px;
} 
